[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[dev]
  port = 8888
  targetPort = 3000
  functions = "netlify/functions"
